.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.loading {
    text-align: center;
    margin-top: 50px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.tableHeaderRow {
    border-bottom: 2px solid #ccc;
    background-color: #f4f4f4;
}

.tableCell {
    padding: 10px;
}

.tableRow {
    border-bottom: 1px solid #eee;
}

.noUsers {
    text-align: center;
}